*{
  margin: 0;
  padding: 0;
  
  
}
ul{
  list-style: none;
}
a{
  color: #222;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

